# Параметры приложения

# Секретный ключ (заполнить обязательно!)
# Например, можно сгенерировать командой:
# python -c 'import secrets; print(secrets.token_hex())'
SECRET=

# Параметры для создания суперпользователя при запуске приложения
FIRST_SUPERUSER_EMAIL='admin@example.com'
FIRST_SUPERUSER_PASSWORD='parol123'

# Параметры подключения к базе данных.
# По умолчанию SQLite3
# DB_DRIVERNAME='sqlite+aiosqlite'
# POSTGRES_HOST=
# POSTGRES_PORT=
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB='./fastapi.db'

# Пример параметров для PostgreSQL
# DB_DRIVERNAME='postgresql+asyncpg'
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=fastapi
# POSTGRES_PASSWORD=fastapi
# POSTGRES_DB=fastapi
